doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./dist/css/fonts.css")
        link(rel="stylesheet", href="./dist/css/normalize.css")
        link(rel="stylesheet", href="./dist/css/style.css")
        title Project
    body 
        include includes\_nav.pug
        include includes\_header.pug
        include includes\_benefits.pug
        include includes\_practice.pug
        include includes\_music.pug
        include includes\_reference.pug
        include includes\_fitness.pug
        include includes\_footer.pug