section.benefits#benefits 
    .wrapper
        .frame 
            .frame__item 
                .frame__inner 
                    img.frame__photo(src="/dist/images/monk.svg", alt="monk")
                    .frame__title Meditation
                    .frame__paragraph There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                    button.btn Learn More
            .frame__item 
                .frame__inner 
                    img.frame__photo(src="/dist/images/monk2.svg", alt="monk")
                    .frame__title Yoga
                    .frame__paragraph  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    button.btn Learn More
            .frame__item 
                .frame__inner 
                    img.frame__photo(src="/dist/images/sound.svg", alt="monk")
                    .frame__title Sound
                    .frame__paragraph  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.
                    button.btn Learn More

