section.fitness#fitness     
    .info.margin
        .info__title Transform Your Body, Mind and Life Today
        .info__paragraph "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos  sint occaecati cupiditate non provident.”
    .fitness__info 
        img.fitness__photo(src="/dist/images/girl3.svg", alt="girl") 
        .fitness__theme
            .title Antistrees Meditation
            .text
                p   There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected.
                p   These cases are perfectly simple and easy to distinguish. In a free hour when our power of choice is untrammelled.
            button.btn Learn More
    .fitness__info 
        img.fitness__photo(src="/dist/images/girl4.svg", alt="girl") 
        .fitness__theme
            .title Backyark Band Meditation
            .text
                p   To take a trivial example, which of us ever undertakes laborious physical exercise except to obtain some advantage from it...
                p   The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            button.btn Learn More