footer.footer 
    a.logo(href="#header")
        img(src="/dist/images/icon.svg", alt="icon") 
    ul.footer__lists
        li.footer__list 
            a(href="#nav") Home
        li.footer__list 
            a(href="#benefits") Explore
        li.footer__list 
            a(href="#practice") Classes
        li.footer__list 
            a(href="#music") About Us
        li.footer__list 
            a(href="#reference") Privacy
        li.footer__list 
            a(href="#fitness") Services
    .network
        a.network__icon(href="#") 
            .facebook 
        a.network__icon(href="#") 
            .instagram 
        a.network__icon(href="#") 
            .twitter
            