header.header#header
    .info.margin 
        .info__title Meditations Helps You Detoxify Your Body
        .info__paragraph “It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout point of using Lorem Ipsum is that it has a more-or-less.”
        button.btn Get Start  
    img.photo(src="/dist/images/person.svg", alt="person")
