section.music#music 
    .info
        .info__title Take a Deep Breath
        .info__paragraph “Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore.”
    .music__content 
        .recordings
            .recordings__audio
                img.sound(src="/dist/images/sound1.svg", alt="sound")
                .recordings__info 
                    .title Turning off Auto Pilot
                    .text Intriduction, Strees Assesment
                .play 
            .recordings__audio
                img.sound(src="/dist/images/sound1.svg", alt="sound")
                .recordings__info 
                    .title Crazy Wind Sound
                    .text Relex Mind
                .play
            .recordings__audio
                img.sound(src="/dist/images/sound1.svg", alt="sound")
                .recordings__info 
                    .title Mental Wellness
                    .text Strees Relief
                .play 
                    
        img.music__photo(src="/dist/images/matherfuck.svg", alt="mather")

