nav.nav#nav 
    .nav__logo 
        a.logo(href="#") 
            img(src="./dist/images/icon.svg", alt="")
    ul.nav__links 
        li.nav__link
            a(href="#") Home
        li.nav__link
            a(href="#") Explore
        li.nav__link 
            a(href="#") Classes
        li.nav__link 
            a(href="#") About Us
        li.nav__link 
            a(href="#") Privacy
        li.nav__link 
            a(href="#") Services
    .burger
        div 
        div 
        div