section.practice#practice 
    .info.margin 
        .info__title Practice Wherever You Want, Whenever You Need
        .info__paragraph “It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout point of using Lorem Ipsum is that it has a more-or-less.”
    .practice__content 
        img.photo(src="/dist/images/girl.svg", alt="girl")
        .forms 
            .form 
              .form__inner 
                .form__title Meditation Wind
                .form__paragraph There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected.
                .practice__arrow    
                        img.arrow(src="/dist/images/arrow.svg", alt="arrow") 
            .form 
              .form__inner 
                .form__title Strees Reduction
                .form__paragraph Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally can procure him some great pleasure.
                .practice__arrow    
                        img.arrow(src="/dist/images/arrow.svg", alt="arrow")
            .form 
              .form__inner 
                .form__title Self Compassion
                .form__paragraph It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                .practice__arrow    
                        img.arrow(src="/dist/images/arrow.svg", alt="arrow")
        img.practice__photo(src="/dist/images/flowerback.svg", alt="flowerback")    