.footer {
  display: flex;
  flex-direction: column;
  background: url(/dist/images/backgroundfooter.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
  .logo {
      margin-top: 74px;
    margin-bottom: 23px;
  }
  &__lists {
      align-items: center;
      justify-content: center;
    display: flex;
    list-style: none;
    margin-bottom: 20px;
  }
  &__list {
    padding-right: 13px;
    margin-right: 13px;
    &:last-child{
        margin-right: 0px;
        padding-right: 0px;
    }
    a {
      font-family: Heebo-Regular sans-serif;
      text-decoration: none;
      font-weight: normal;
      font-size: 18px;
      color: #000;
    }
    &:last-child {
      border-right: none;
    }
    border-right: 2px solid #000;
  }
}
.network {
    display: flex;
    margin-bottom: 26px;
  &__icon {
      margin: 0px 10px;
      text-decoration: none;
      color: rgb(255, 255, 255);
  }
}
.facebook {
  &::after {
    content: "";
    content: "\ea90";
    font-family: 'icomoon';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    background: #000;
    height: 36px;
    border-radius: 100%;
  }
}
.instagram {
  &::after {
    content: "";
    content: "\ea92";
    font-family: 'icomoon';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    background: #000;
    height: 36px;
    border-radius: 100%;
  }
}
.twitter {
  &::after {
    content: "";
    content: "\ea96";
    font-family: 'icomoon';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    background: #000;
    height: 36px;
    border-radius: 100%;
  }
}
@media(max-width:947px){
    .footer__lists{
        margin-left: -40px;
    }
    .footer__list a {
        font-size: 15px;
    }
    .facebook {
        &::after {
            font-size: 14px;
          width: 26px;
          height: 26px;
        }
      }
      .instagram {
        &::after {
            font-size: 14px;
          width: 26px;
         height: 26px;
        }
      }
      .twitter {
        &::after {
            font-size: 14px;
            width: 26px;
           height: 26px;
          }
        }
}
@media(max-width:459px){
    .footer__list a {
        font-size: 13px;
    }
    .facebook {
        &::after {
            font-size: 13px;
          width: 20px;
          height: 20px;
        }
      }
      .instagram {
        &::after {
            font-size: 13px;
            width: 20px;
            height: 20px;
        }
      }
      .twitter {
        &::after {
            font-size: 13px;
            width: 20px;
            height: 20px;
          }
        }
}
@media(max-width:419px){
    .footer__lists{
        flex-direction: column;
    }
    .footer__list{
        padding-right: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    border-right: none;
    }
    .footer__list a {
        font-size: 14px;
    }
    .facebook {
        &::after {
            font-size: 14px;
          width: 25px;
          height: 25px;
        }
      }
      .instagram {
        &::after {
            font-size: 14px;
          width: 25px;
          height: 25px;
        }
      }
      .twitter {
        &::after {
            font-size: 14px;
          width: 25px;
          height: 25px;
          }
        }
}