.nav {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  justify-content: space-between;
  &__logo {
    margin: 6px 0px;
    margin-left: 100px;
  }
  &__links {
    margin-right: 100px;
    display: flex;
  }
  &__link {
    display: flex;
    height: 25px;
    justify-content: center;
    font-size: 18px;
    width: 116px;
    transition: all 0.2s;
    list-style: none;
    font-family: Heebo-Regular sans-serif;
    font-weight: normal;
    &:hover {
      font-weight: bold;
      font-size: 21px;
      a {
        color: #1a7f72;
      }
    }
    &::before {
      content: "";
      transition: all 0.2s;
      opacity: 0;
      position: absolute;
      width: 77px;
      height: 6px;
      top: 83px;
      background: #1a7f72;
      border-radius: 10px 10px 0px 0px;
    }
    &:hover::before {
      opacity: 1;
    }
    a {
      text-decoration: none;
      color: #000;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .burger {
    display: none;
    cursor: pointer;
    right: 10px;
    position: absolute;
    div {
      width: 25px;
      height: 2px;
      margin: 4px 0px;
      background: #000;
    }
  }
}
.logo {
  img {
    width: 93px;
    height: 73px;
  }
}
@media (max-width: 1118px) {
  .nav__link {
    height: 15px;
    width: 96px;
    font-size: 14px;
    &:hover {
      font-weight: bold;
      font-size: 16px;
    }
  }
}
@media (max-width: 936px) {
    .nav__logo {
        margin: 6px 0px;
        margin-left: 50px;
    }
    .nav__links {
        margin-right: 50px;
    }
    .nav__link {
        height: 15px;
        width: 76px;
        font-size: 13px;
        &:hover {
          font-weight: bold;
          font-size: 14px;
        }
        &::before {
            width: 57px;
            height: 4px;
            top: 55px;
            background: #1a7f72;
            border-radius: 10px 10px 0px 0px;
          }
      }
    .logo img {
        width: 73px;
        height: 53px;
    }
  }

  @media (max-width: 625px) {
    .nav__logo {
        margin: 6px 0px;
        margin-left: 20px;
    }
    .nav__links {
        margin-right: 20px;
    }
    .nav__link {
        height: 15px;
        width: 66px;
        font-size: 12px;
        &:hover {
          font-weight: bold;
          font-size: 13px;
        }
        &::before {
            width: 54px;
            height: 3px;
            top: 50px;
            background: #1a7f72;
            border-radius: 10px 10px 0px 0px;
          }
      }
    .logo img {
        width: 53px;
        height: 53px;
    }
  }
  @media (max-width: 541px) {
    .nav__logo{
      margin: 3px 0px;
      margin-left: 5px;
    }
    .logo img {
      width: 43px;
      height: 33px;
  }
     .nav{
        .burger{
            display: block;
        }
     }
    .nav__links {
       display: none;
    }
  }